.img-logo {
  width: 50%;
  height: 100%;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
}

.img-logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  cursor: pointer;
}

@media (max-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }

  .img-logo {
    width: 80%;
    max-width: 90%;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }

  .img-logo {
    width: 85%;
    max-width: 90%;
    margin-bottom: 10px;
  }
}