:root {
  --topbar-height: 70px;
}

#top_bar {
  width: 100%;
  height: var(--topbar-height);
  background-color: #dbcd88;
  left: 0;
  top: 0;
  opacity: 1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 5rem;
  box-sizing: border-box;
}

#elements {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: 100%;
}

@media (max-width: 768px) {
  :root { --topbar-height: 70px; }
  #top_bar { height: var(--topbar-height); font-size: 1rem;}
  #elements {gap: 5px}
}

@media (max-width: 480px) {
  :root { --topbar-height: 50px; }
  #top_bar { height: var(--topbar-height); font-size: 1rem; }
}